:root {
  /* Spacing */
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.75rem;
  --spacing: 1rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.3rem;

  /* Radius */

  --radius-xxs: 5px;
  --radius-xs: 7px;
  --radius: 15px;
  --radius-md: 25px;
  --radius-lg: 35px;
  --radius-xl: 50px;

  /* Containers */
  --mw-container: 1080px;

  /* transitions */
  --transition-regular: 0.25s cubic-bezier(0.85, 0.05, 0.18, 1.35);

  /* Colors */
  --paper: #f7f4ea;
  --text: #0e0e0e;
  --link-color: #154380;
  --link-hover-color: #216cce;
  --link-active-color: #041b3a;

  /* Borders */
  --border-color: #e7e7e765;
  --paper-border: 1px solid var(--border-color);

  /* --screen-xxs: 375px --screen-xs: 425px --screen-sm: 720px --screen-md: 1024px --screen-lg: 1440px --screen-xxl: 2560px */

  /* Shadows */
  --first-shadow-color: #d2cfc7;
  --second-shadow-color: #ffffff;

}

.dark {

  /* Colors */
  --paper: #141414;
  --text: #ffffff;

  /* Borders */
  --paper-border: 1px solid #07070741;

  /* Shadows */
  --first-shadow-color: #111111;
  --second-shadow-color: #171717;
}


/* html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
} */

* {
  box-sizing: border-box;
}

html {
  background-color: var(--paper);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.6;
}

main {
  min-height: 50dvh;
}

/* Tamaños de fuente para pantallas grandes */
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--text);
  /* 40px */
}

h2 {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--text);
  /* 32px */
}

h3 {
  margin: 1rem 0;
  font-size: 1.75rem;
  color: var(--text);
  /* 28px */
}

h4 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: var(--text);
  /* 24px */
}

h5 {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: var(--text);
  /* 20px */
}

h6 {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--text);
  /* 16px */
}

p,
span,
li,
a {
  color: var(--text);
  font-size: 1.02rem;
  /* 16px */
}

a,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  font-weight: 600;
  color: var(--text)
}

/* Estilos responsivos para pantallas menores de 720px */
@media (width < 768px) {
  h1 {
    font-size: 2rem;
    /* 32px */
  }

  h2 {
    font-size: 1.75rem;
    /* 28px */
  }

  h3 {
    font-size: 1.5rem;
    /* 24px */
  }

  h4 {
    font-size: 1.25rem;
    /* 20px */
  }

  h5 {
    font-size: 1.125rem;
    /* 18px */
  }

  h6 {
    font-size: 1rem;
    /* 16px */
  }

  p,
  span,
  li,
  a {
    font-size: 0.875rem;
    /* 14px */
  }
}




.elevate {
  background: var(--paper);
  box-shadow: 7px 7px 14px var(--first-shadow-color),
    -7px -7px 14px var(--second-shadow-color);
}

.elevate-2 {
  border-radius: 50px;
  background: var(--paper);
  box-shadow: 17px 17px 34px var(--first-shadow-color),
    -17px -17px 34px var(--second-shadow-color);
}

.elevate-3 {
  background: var(--paper);
  box-shadow: 27px 27px 54px var(--first-shadow-color),
    -27px -27px 54px var(--second-shadow-color);
}

.elevate-4 {
  background: var(--paper);
  box-shadow: 37px 37px 74px var(--first-shadow-color),
    -37px -37px 74px var(--second-shadow-color);
}

.elevate-5 {
  background: var(--paper);
  box-shadow: 47px 47px 94px var(--first-shadow-color),
    -47px -47px 94px var(--second-shadow-color);
}

.btn {
  cursor: pointer;
  border-radius: var(--radius-xs);
  border: var(--paper-border);
  transition: .2s ease-in-out;
  background: var(--paper);
  color: var(--text) !important;
  box-shadow: 17px 17px 34px var(--first-shadow-color),
    -17px -17px 34px var(--second-shadow-color);
}

.btn:hover {
  background: var(--paper);
  box-shadow: 5px 5px 10px var(--first-shadow-color),
    -5px -5px 10px var(--second-shadow-color);
}

.btn:active {
  background: var(--paper);
  box-shadow: inset 5px 5px 10px var(--first-shadow-color),
    inset -5px -5px 10px var(--second-shadow-color);
}

.link {
  cursor: pointer;
  color: var(--link-color);
}

.link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.link:active {
  color: var(--link-active-color);
}

@keyframes elevation-btn {
  0% {
    background-color: var(--paper);
    box-shadow: 27px 27px 54px var(--first-shadow-color), -27px -27px 54px var(--second-shadow-color);
  }

  50% {
    background-color: var(--paper);
    box-shadow: 5px 5px 10px var(--first-shadow-color), -5px -5px 10px var(--second-shadow-color);
  }

  0% {
    background-color: var(--paper);
    box-shadow: 27px 27px 54px var(--first-shadow-color), -27px -27px 54px var(--second-shadow-color);
  }
}

@media (width < 525px) {
  .btn {
    animation: elevation-btn infinite;
    animation-duration: 2s;
  }

  .btn:nth-child(odd) {
    animation-duration: 3s;
  }

  .btn:hover {
    animation: none;
  }

  .btn:active {
    animation: none;
  }
}

.container {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  max-width: 1080px;
  margin: auto;
}

@media (width < 525px) {
  .container {
    padding-left: var(--spacing-xs);
    padding-right: var(--spacing-xs);
    max-width: 1;
  }
}