---
import Layout from "../layouts/Layout.astro";
import Greeting from '../components/DynamicComponents/Greeting';
---

<Layout
	title="Diego Castillo | Programador Web y Desarrollador Full Stack"
	description="Soy Diego, ingeniero de sistemas con 5 años de experiencia en desarrollo web y aplicaciones. Explora mi portafolio y blog para aprender sobre programación y tecnología."
>
	<main>
		<Greeting client:load messages={["Hola", "Qué tal", "Hola a todos"]}/>
		<h1>Hola, Soy Diego Castillo, Desarrollador Web</h1>

		<h2>
			Ingeniero de sistemas, especializado en desarrollo web y aplicaciones a la
			medida
		</h2>

		<p>
			Soy Diego Castillo, ingeniero de sistemas con 5 años de experiencia en el
			desarrollo de software. Actualmente, estoy cursando una maestría en
			Gerencia de Telecomunicaciones, enfocada en la gestión de proyectos de
			software. Mi pasión es crear soluciones eficientes y escalables que
			mejoren el ciclo de vida del desarrollo. Me especializo en React para el
			desarrollo frontend, aunque también manejo otras tecnologías como Vue,
			Svelte, y Angular, además de HTML, CSS y JavaScript Vanilla. En el
			backend, tengo experiencia con Node.js, NestJS, y Laravel, así como en
			frameworks como Python Django y Flask. Además, he trabajado con
			herramientas específicas como Python QML para aplicaciones de escritorio y
			WordPress para blogs. Actualmente, soy desarrollador web en Tagwizz, una
			empresa de software outsourcing que colabora en proyectos a nivel
			global.
		</p>

		<h2>
			Servicios que Ofrezco
		</h2>
		<p>
			Ofrezco desarrollo de aplicaciones a la medida, con un enfoque en desarrollo web como mi fuerte. Mi versatilidad me permite adaptarme a una amplia gama de tecnologías para crear soluciones específicas para cada cliente.
		</p>

		<h3>Servicios adicionales:</h3>
		<ul>
			<li>Consultoría en rendimiento web: Identifico cuellos de botella y propongo mejoras para optimizar la experiencia del usuario.</li>
			<li>Formación en diseño de sistemas: Imparto clases y mentorías sobre patrones de diseño y arquitecturas de software a nivel universitario.</li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #111111;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
