---
import Layout from "./Layout.astro";
import type { JsxElement } from "typescript";

interface Props {
  children: JsxElement | preact.Component | HTMLElement | any
	frontmatter: {
    title: string;
    author: string;
  }
}


const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title} description={frontmatter.title}>
  <main class="container">
    <h1>{frontmatter.title}</h1>
    <p>Escrito por {frontmatter.author}</p>
    <div>
      <slot />
    </div>
  </main>
</Layout>